<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ShowFinder</title>
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/utilities.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/responsive.css" />
  <script src="/js/app.js"></script>
</head>

<body>
  <header class="">
    <nav class="navbar">
      <!-- Logo -->
      <a href="/">
        <div class="logo">
          <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-2 text-red-500" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
            <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.022 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path>
          </svg>
          <span class="logo-text fs-6">ShowFinder</span>
        </div>
      </a>
      <!-- Navigation Links -->
      <ul class="nav-links no-display">
        <li class="btn home-btn"><a href="/">Home</a></li>
        <li class="btn"><a href="/favourites">Favourites</a></li>
        <li class="btn"><a href="/about">About</a></li>
      </ul>
    </nav>

    <!-- Hamburger container -->
    <div class="hamburger-container">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <svg class="theme-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path>
      </svg>
    </div>
  </header>
  <main>