<%- include("partials/header.ejs") %>
<section class="about-page container-small">
  <h1>About TV Show Finder</h1>
  <p class="title-text">Welcome to TV Show Finder,
    your go-to destination for discovering and organizing your favorite
    television shows. Our mission is to provide a clean, fast, and user-friendly
    interface to help you explore the vast world of TV.</p>
  <h2>Features</h2>
  <div class="feature-container">
    <div class="feature-text">
      <span class="feature-title">Powerful Search: </span>
      Quickly find any TV show by its name.
    </div>

    <div class="feature-text">
      <span class="feature-title">Detailed Information:</span>
      Get comprehensive details including summaries, schedules, cast, and episode lists.
    </div>

    <div class="feature-text">
      <span class="feature-title">Personalized Favorites:</span>
      Keep track of shows you love by adding them to your personal favorites list, stored conveniently in your browser.
    </div>

    <div class="feature-text">
      <span class="feature-title">Sleek, Modern UI:</span>
      Enjoy a beautiful, responsive design that works great on any device.
    </div>

    <div class="feature-text">
      <span class="featute-title">Dark Mode:</span>
      Switch to a dark theme for comfortable viewing, especially at night.
    </div>
  </div>

  <h2 class="source">Data Source</h2>
  <p class="source-text">All the TV show data, including images, summaries, and scheduling information,
    is graciously provided by the <br /><span>TVmaze API</span>. We are not affiliated with TVmaze, but we are incredibly grateful
    for their excellent and free service that powers this application.
  </p>

  <p class="info">Built with ❤️ using NodeJS, HTML, and CSS.</p>
</section>
</main>
</body>

</html>